<div *ngIf="doctor">
  <div>
    <h4>{{ doctor.name }}'s Tasks:</h4>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Title</th>
          <th scope="col" class="text-center">Done?</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of tasks">
        <tr *ngIf="doctor.id == task.userId">
          <th class="text-center">{{ task.id }}</th>
          <td>{{ task.title | titlecase }}</td>
          <td class="text-center">{{ task.completed }} test</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
