<div class="row">
  <div
    class="card col-4 offset-lg-4 p-0"
    *ngFor="let doctor of doctor$ | async"
  >
    <div class="card-body">
      <h3 class="card-title">#{{ doctor.id }} {{ doctor.name }}</h3>
      <small>Click and edit. Simple as that.</small>
      <hr />
      <div class="card-text">
        <div class="username">
          <i class="bi bi-person-check"></i>
          <span contenteditable>
            {{ doctor.username }}
          </span>
        </div>
        <div>
          <i class="bi bi-envelope"></i>
          <span contenteditable>{{ doctor.email }}</span>
        </div>
        <div>
          <i class="bi bi-telephone"></i>
          <span contenteditable>
            {{ doctor.phone }}
          </span>
        </div>
        <div>
          <i class="bi bi-globe"></i>
          <span contenteditable>{{ doctor.website }}</span>
        </div>
        <div class="address">
          <span>
            <i class="bi bi-pin-map"></i>
            <span contenteditable>
              {{ doctor.address.street }}{{ doctor.address.suite }}
            </span>
          </span><br>
          <span>
            <i class="bi bi-pin-map"></i>
            <span contenteditable>
              {{ doctor.address.zipcode }} {{ doctor.address.city }}
            </span>
          </span>
        </div>
        <div class="company">
          <span>
            <i class="bi bi-building"></i>
            <span contenteditable>{{ doctor.company.name }}</span>
          </span><br>
          <span class="phrase">
            <span contenteditable>{{ doctor.company.catchPhrase }}</span>
          </span><br>
          <span class="bs">
            <span contenteditable>{{ doctor.company.bs }}</span>
          </span>
        </div>
      </div>
      
      <button
        class="btn btn-link btn-sm float-end"
        type="button"
        (click)="goBack()"
      >
        Cancel
      </button>
      <button
        class="btn btn-info btn-sm float-end"
        type="button"
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </div>
</div>
