.card {
    border: none;
    border-bottom: 1px dotted #ccc;
    // outline: 1px solid #f2f2f2;
    // box-shadow: 0 0 30px #f2f2f2;
    border-radius: 0;

    .card-body {
        padding: 2rem;
    }

    .username {
        text-transform: uppercase;
        font-weight: 600;
    }

    .address {
        margin-top: 1rem;

        span + span i {
            visibility: hidden;
        }
    }

    .company {
        margin-top: 1rem;
        
        .phrase,
        .bs {
            font-size: 80%;
            font-style: italic;
        }
    }

    span {
        display: block;
    }

    i {
        margin-right: 0.25rem;
    } 
}

.doctorsList {
    overflow-y: scroll;
    height: 100vh;
}

.tasksList {
    margin-top: 2rem;
    overflow-y: scroll;
    height: 100vh;
}