<div class="row">
  <div class="card col-4 p-0" *ngFor="let doctor of doctors$ | async">
    <div class="card-body">
      <h3 class="card-title">
        #{{ doctor.id }} {{ doctor.name }}
        <button
          class="btn btn-info btn-sm"
          type="button"
          routerLink="/doctor/{{ doctor.id }}"
        >
          Show Tasks
          <i class="bi bi-chevron-double-right"></i>
        </button>
        <button
          class="btn btn-link btn-sm ms-1"
          type="button"
          routerLink="/doctor/{{ doctor.id }}/edit"
        >
          <!-- data-bs-toggle="modal"
          data-bs-target="#exampleModal" -->
          <i class="bi bi-pencil me-0"></i>
        </button>
      </h3>
      <p class="card-text">
        <span class="username">
          <i class="bi bi-person-check"></i>
          {{ doctor.username }}
        </span>
        <span>
          <i class="bi bi-envelope"></i>
          <a href="mailto:{{ doctor.email }}" class="email">
            {{ doctor.email }}
          </a>
        </span>
        <span>
          <i class="bi bi-telephone"></i>
          <a href="tel:{{ doctor.phone }}" class="phone">
            {{ doctor.phone }}
          </a>
        </span>
        <span>
          <i class="bi bi-globe"></i>
          <a
            href="https://{{ doctor.website }}"
            class="website"
            target="_blank"
          >
            {{ doctor.website }}
          </a>
        </span>
        <span class="address">
          <span>
            <i class="bi bi-pin-map"></i>
            {{ doctor.address.street }}{{ doctor.address.suite }}
          </span>
          <span>
            <i class="bi bi-pin-map"></i>
            {{ doctor.address.zipcode }} {{ doctor.address.city }}
          </span>
          <span>
            <i class="bi bi-pin-map"></i>
            <a
              href="https://www.google.com/maps?q={{
                doctor.address.geo.lat
              }},{{ doctor.address.geo.lng }}"
              target="_blank"
            >
              Show on map
            </a>
          </span>
        </span>
        <span class="company">
          <span>
            <i class="bi bi-building"></i>
            {{ doctor.company.name }}
          </span>
          <span class="phrase">
            {{ doctor.company.catchPhrase }}
          </span>
          <span class="bs">
            {{ doctor.company.bs }}
          </span>
        </span>
      </p>
    </div>
  </div>
</div>

<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit doctor's data</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-doctor-edit [doctor$]="doctors$"></app-doctor-edit>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
